@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body{
    background: #7091E6;
    color: black;
    font-family: "Dosis", serif;
}

.App{
    min-height: 100vh;
    height: 100vh; 
    display: flex;
    /* align-items: center; */
    overflow: hidden;
}


.sidebar{
    flex: 2;
    border-right: 1px solid rgb(100, 100, 100);
}

.logo{
    margin-right: 1rem;
    margin-top: 1.5rem;
    width: 100px;
    height: auto;
}

.brand{
    font-size: 4rem;
}

.upperSec{
    padding: 2.5rem;
    border-bottom: 1px solid rgb(100, 100, 100);
    height: 80%;
}
.upperSec>h3{
    font-size: large;
}

.top{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem
}

.listItemsImg{
    width: 20px;
    height: auto;
}

.addButton{
    height: 2rem;
    padding-right: 1rem;
}

.midButton{
    background: #665fb6;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.questions{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 1.5rem;
    width: 25rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(98, 98, 98, 1);
    cursor: pointer;
}

.send{
    width: 20px;
    height: auto;
}

.lowerSec{
    padding: 1rem;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.listItemHead{
    margin: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
}
.listItems{
    margin: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}

.listItemsImg{
    margin: 0.8rem;
    padding-right: 0.8rem;
    width: 4rem;
    height: auto;
    max-width: 100%;
}

.listItems:nth-child(1)>.listItemsImg{
    margin-right: 0.5rem;
}
.listItems:nth-child(2)>.listItemsImg{
    margin-right: 0.75rem;
}
.listItems a {
    text-decoration: none;
    color: inherit;
}

.main{
    /* min-height: calc(100vh - 14rem); */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* margin: 0 auto; */
}

.chats{
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: #6c66aa #8c89ba00;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 10rem);
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.chat{
    margin: 0.5rem 1rem;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    line-height: 1.6;
    display: flex;
    align-items: flex-start;
    max-width: 75%;
    border-radius: 0.8rem;
}

.chat.user {
    background: #e1e1e1;
    color: #333;
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
    flex-direction: row-reverse;
}

.chat.bot {
    background: #665fb6;
    color: whitesmoke;
    align-self: flex-start;
    border-radius: 1rem 1rem 1rem 0;
}
.chat .txt {
    font-size: 1.45rem; 
    line-height: 1.7; 
}

.chat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0 1rem;
}

.chat.bot img {
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.chat.user img{
    margin-left: 1rem;;
}

.chatFooter{
    margin-top: auto;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
}

.inp{
    padding: 0.5rem;
    background: #665fb6;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 68rem;
}

.chatInput {
    width: calc(100% - 3rem);
    min-height: 50px;
    max-height: 150px; 
    outline: none;
    padding: 1.75rem;
    color: rgb(251, 251, 251);
    background: transparent;
    border: none;
    resize: none; 
    overflow-y: auto;
    font-size: 1.2rem;
    scrollbar-color: #544f93 #6c66aa;
}

.sendb{
    background: transparent;
    border: none;
    padding: 0.5rem;
}

.inp > textarea::placeholder {
    color: #ffffff;
    opacity: 0.5;
}

.chatFooter>p{
    color: black;
    font-size: 1.2rem;
}

/* landing page */
.landingPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: clac(100vh-10rem);
    width: 100%;
    flex-grow: 1;
}

.landingPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.landingPage h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.landingPage p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    max-width: 600px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bot-typing {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bot-typing  .txt {
    font-style: italic;
    opacity: 0.8;
    font-size: 1.8rem;
}

.bot-typing  .dot-one,
.bot-typing  .dot-two,
.bot-typing  .dot-three {
    animation: blink 1.5s infinite;
    font-size: 1.8rem;
}

.bot-typing  .dot-two {
    animation-delay: 0.3s;
}

.bot-typing  .dot-three {
    animation-delay: 0.6s;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
